{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
<!-- Hero Section -->
<section id="hero" class="hero section">

    <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='assets/img/hero-carousel/hero-carousel-2.jpg') }}" alt="">
        <div class="container">
          <h2>Welcome to Tawa Medical Services</h2>
          <p>
            This platform leverages cutting-edge machine learning technology to predict the likelihood of early gastric cancer based on endoscopic images. By enabling early detection, we aim to improve treatment outcomes and save lives.
          </p>
          <a href="#about" class="btn-get-started">Read More</a>
        </div>
      </div><!-- End Carousel Item -->

      <div class="carousel-item">
        <img src="{{ url_for('static', filename='assets/img/endoscopy.jpg') }}" alt="">
        <div class="container">
          <h2>AI-Powered Predictions</h2>
          <p>Upload endoscopic images to receive instant predictions on whether they exhibit cancerous lesions.</p>
          <a href="#about" class="btn-get-started">Read More</a>
        </div>
      </div><!-- End Carousel Item -->

      <div class="carousel-item">
        <img src="{{ url_for('static', filename='assets/img/hero-carousel/hero-carousel-3.jpg') }}" alt="">
        <div class="container">
          <h2>Model Retraining</h2>
          <p>Enhance the accuracy of predictions by contributing new labeled data to retrain our model.</p>
          <a href="#about" class="btn-get-started">Read More</a>
        </div>
      </div><!-- End Carousel Item -->

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators"></ol>

    </div>

  </section><!-- /Hero Section -->

  <!-- Featured Services Section -->
  <section id="featured-services" class="featured-services section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon"><i class="fas fa-heartbeat icon"></i></div>
            <h4><a href="{{ url_for('interface.model') }}" class="stretched-link">Early Detection of Gastric Cancer</a></h4>
            <p>Early detection of gastric cancer greatly improves treatment success and survival rates, allowing for timely and effective medical interventions.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="fas fa-pills icon"></i></div>
            <h4><a href="{{ url_for('interface.predict') }}" class="stretched-link">AI-Powered Predictions</a></h4>
            <p>Upload endoscopic images to receive instant predictions on whether they exhibit cancerous lesions.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon"><i class="fas fa-thermometer icon"></i></div>
            <h4><a href="{{ url_for('interface.train_model') }}" class="stretched-link">Model Retraining</a></h4>
            <p>Enhance the accuracy of predictions by contributing new labeled data to retrain our model.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="fas fa-dna icon"></i></div>
            <h4><a href="" class="stretched-link">Educational Resources</a></h4>
            <p>Learn about early gastric cancer, its symptoms, risk factors, and the importance of early detection.</p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Featured Services Section -->

  <!-- Call To Action Section -->
  <section id="call-to-action" class="call-to-action section accent-background">

    <div class="container">
      <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-10">
          <div class="text-center">
            <h3>Make a Prediction now?</h3>
            <p>Upload your endoscopic image to receive an instant prediction on whether it exhibits cancerous lesions. Our AI-powered platform provides quick and accurate results to help you take the next steps in your healthcare journey.</p>
            <a class="cta-btn" href="/predict">Make a Prediction</a>
          </div>
        </div>
      </div>
    </div>

  </section><!-- /Call To Action Section -->


  <!-- About Section -->
  <section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About<br></h2>
    <p>This platform leverages cutting-edge machine learning technology to predict the likelihood of early gastric cancer based on endoscopic images. By enabling early detection, we aim to improve treatment outcomes and save lives.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ url_for('static', filename='assets/img/egcd-homepage.png') }}" class="img-fluid" alt="">
            <a href="https://youtu.be/kIsQD86w0-o" class="glightbox pulsating-play-btn"></a>
          </div>
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
          <h3>Predict Gastric Cancer</h3>
          <p class="fst-italic">
            How It Works
          </p>
          <ul>
            <li><i class="bi bi-check2-all"></i> <span>Upload an Image: Submit a high-quality endoscopic image of the stomach lining.</span></li>
            <li><i class="bi bi-check2-all"></i> <span>AI Analysis: Our machine learning model analyzes the image to predict whether it shows signs of early gastric cancer.</span></li>
            <li><i class="bi bi-check2-all"></i> <span>Get Results: Receive an instant report with the model's prediction and confidence level.</span></li>
          </ul>
          <p>
            <b>Note:</b> This tool is not a substitute for medical advice. Always consult a healthcare professional for diagnosis and treatment.
          </p>
            <a href="{{ url_for('interface.model') }}" class="btn btn-primary btn-md" style="background-color: #007bff; border-color: #007bff; color: white; padding: 8px 16px; border-radius: 5px;">Learn More About the Model</a>
        </div>
      </div>

    </div>

  </section><!-- /About Section -->

  

{% endblock %}